* {
  margin: 0;
  padding: 0;
  color: rgb(38, 38, 38);
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  width: max-content;
  min-width: 500px;
}

body {
  background-color: #f7f8fa;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: none;
  outline: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  border: 1px solid #13aa52;
  background-color: #13aa52;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
}

input {
  background-color: #000a200d;
  color: #262626;
  border-width: 0px;
  padding: 6px;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 18px;
}

input:focus {
  background-color: #000a201a;
  outline: none;
}

/* Generic */

.flex {
  display: flex;
}

.flex-fill {
  flex-grow: 1;
  min-width: 0;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

/* Tiny Images */

.tiny-box {
  margin-left: auto;
  margin-top: auto;
}

.tiny-img {
  max-width: 20px;
  max-height: auto;
}

.tiny-button {
  margin-left: 5px;
}

/* Friend Box */

.friend-box {
  margin-bottom: 15px;
  padding-right: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px #0000000a,0px 4px 8px #00000005,0px 6px 12px #00000005;
}

.avatar {
  border-radius: 15px;
  padding: 8px;
  max-height: 85px;
  width: auto;
}

.badge-container {
  position: relative;
}

.badge {
  position: absolute;
  width: 20px;
  height: auto;
  right: 68px;
  top: 13px;
}

.east-of-avatar {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.last-online {
  font-style: italic;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 1px;
}

.user-row h3 {
  font-size: 18px;
}

.friend-button {
  margin-left: 6px;
  float: right;
  border-width: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 0px;
  transition-duration: 0.1s;
}

.remove-button {
  background-color: rgb(239, 71, 67, 0.5);
}

.remove-button:hover {
  background-color: rgb(239, 50, 50, 1);
}

.setting-button {
  background-color: transparent !important; /* Remove green background */
  border: none !important;
  box-shadow: none !important;
  padding: 5px; /* Adjust padding if needed */
}

.setting-button:hover {
  background-color: #2e2e2e; /* Keep hover effect */
}

.settings-icon {
  max-width: 20px;
  height: auto;
}


.greyscale {
  filter: grayscale(100%);
}

.change-alias {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.alias-col {
  display: grid;
  margin-right: 10px;
}

.alias-button {
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  width: 100%;
}

.change-alias p {
  font-size: 18px;
  margin-top: auto;
}

.change-alias input {
  margin-top: auto;
  margin-bottom: auto;
}

.red-button {
  background-color: rgb(239, 50, 50);
  border: 1px solid rgb(239, 50, 50);
}

/* Loader */

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Perms */

#perms {
  padding: 18px;
}

#perms p {
  margin-bottom: 15px;
}

#perms button {
  padding: 10px 25px;
  margin-top: 15px;
}

#perms .tiny-img {
  max-width: 30px;
}

/* Header */

#header {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #00000014;
}

.title{
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

#header h1 {
  color: #0000008c;
  padding-top: 5px;
  margin-left: 5px;
  font-size: 32px;
}

#header img {
  max-height: 40px;
  width: auto;
}

#header-info {
  float: right;
  text-align: right;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header-info * {
  color: #ffffff8c;
}

.header-icon {
  height: 36px ; 
  width: auto;  
}


#daily-link {
  margin: auto 10px;
  padding-top: 5px;
}

#daily-link img {
  max-height: 28px;
}

#settings-button {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2px;
}

#settings-button button {
  font-size: 16px;
  line-height: 10px;
}

/* Footer */

#footer {
  padding: 15px;
  background-color: rgb(240, 240, 240);
  border-top: 1px solid #00000014;
}


/* Add friend */

#add-button {
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: rgb(20, 180, 53, 0.6);
  border-width: 0;
}

#add-button:hover {
  background-color: #13aa52;
}

#err-message {
  color: rgb(239, 50, 50);
  margin-bottom: 16px;
}

/* Searching Friend*/

#mini-spinner {
  border: 5px solid #ff4a4a; /* Light grey */
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  width: 20px;
  height: 20px;
  margin: 5px;
}

#searching-friend p {
  margin: auto;
  float: left;
  font-size: 18px;
  padding: 6px;
  margin-left: 10px;
}

/* Friends List */

#main {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#no-friends {
  margin: 20px 5px 20px 5px;
}

/* Settings */

#settings {
  max-width: 500px;
  margin: 10px;
  margin-left: 30px;
}

#settings h2 {
  color: #ffffff8c;
  font-size: 26px;
}

#settings h3 {
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 20px;
  color: #ffffff8c;
}

#settings ul {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0;
}

#settings li {
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

#settings input {
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

#settings select {
  font-size: 16px;
  padding: 5px;
  color: #000000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 5px;
}

#settings button {
  margin: 0px;
  width: auto;
}

.settings-head {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}


* {
  margin: 0;
  padding: 0;
  color: rgb(220, 220, 220);
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  width: max-content;
  min-width: 500px;
}

body {
  background-color: #121212;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #4DA8DA;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  border: 1px solid #13aa52;
  background-color: #13aa52;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.788) 0 3px 9px 0;
}

input {
  background-color: #000000;
  color: #ffffff9f;
  border-width: 0px;
  padding: 6px;
  padding-left: 10px;
  border-radius: 6px;
  /* border-color: #ffffff; */
  font-size: 18px;
}

input:focus {
  color: #ffffff;
  background-color: #000000;
  outline: none;
}

.friend-box {
  background-color: #222831;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.1), 0px 4px 8px rgba(255, 255, 255, 0.05), 0px 6px 12px rgba(255, 255, 255, 0.05);
}

.edit-button {
  background-color: #222831;
  border: 1px solid #222831;
  color: #bbb;
}

.edit-button:hover {
  background-color: rgb(0, 133, 139);
}

#header {
  background-color: #1e1e1e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#header h1 {
  color: #ddd;
}

#footer {
  background-color: #1e1e1e;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
